.banner{
    padding: 50px;
    padding-left: auto;
    padding-right: auto;
    margin-top: 10px;
    background-color: rgb(165, 215, 247);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}